* {
    box-sizing: border-box;
    
}

/*css for the main page */

.header {
    display: flex;
    max-width: 1100px;
    border: 3px solid black;
    margin: 0 auto;
    flex-wrap: wrap;
}

.socialbuttons {
    display: flex;
    align-items: center;
    border: 3px solid black;
}

.page {
    display: flex;
    max-width: 1100px;
    border: 3px solid black;
    margin: 0 auto;
    flex-wrap: wrap-reverse;
}

.main{
    flex-grow: 2;
    flex-basis: 1;
    width: 500px;
    flex-grow: 1;
    padding: 10px;
    justify-content: flex-start;

}

.navbar {
    flex-basis: 1;
    max-width: 500px;
    width: 300px;
    flex-grow: 1;
    padding: 10px;
}


.footer {
    display: flex;
    margin: 0 auto;
    max-width: 1100px;
    justify-content: center;
}

/* css for the recipe page */

.container {
    display: flex;
    max-width: 1100px;    
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    align-content: stretch;
    gap: 10px;
}

h1, img {
    margin: auto;
    padding: 10px;
}

h1 {
    font-size: xx-large;
    font-family: cursive, sans-serif;
   
}

.description {
    border: 10px solid goldenrod;
    border-radius: 30px;
    padding: 30px;
    margin-bottom: 10px;
}

.steps {
    border: 10px solid darkgreen;
    border-radius: 30px;
    padding: 10px;
    flex-basis: 70%;
    flex-grow: 2;
    margin-bottom: 10px;
    
}

.ingredients{
    border: 10px solid darkred;
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 10px;
    
    flex-basis: 20%;
    flex-grow: 2;
    
}